practica3/WebAppClient/src/conf/xml-resources/web-service-references/GestorImagenes_1/wsdl/localhost_8080/GestorImagenes/GestorImagenes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gestor1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gestor1/" name="GestorImagenes">
<types>
<xsd:schema>
<xsd:import namespace="http://gestor1/" schemaLocation="http://localhost:8080/GestorImagenes/GestorImagenes?xsd=1"/>
</xsd:schema>
</types>
<message name="RegisterImage">
<part name="parameters" element="tns:RegisterImage"/>
</message>
<message name="RegisterImageResponse">
<part name="parameters" element="tns:RegisterImageResponse"/>
</message>
<message name="ModifyImage">
<part name="parameters" element="tns:ModifyImage"/>
</message>
<message name="ModifyImageResponse">
<part name="parameters" element="tns:ModifyImageResponse"/>
</message>
<message name="ListImages">
<part name="parameters" element="tns:ListImages"/>
</message>
<message name="ListImagesResponse">
<part name="parameters" element="tns:ListImagesResponse"/>
</message>
<message name="SearchbyId">
<part name="parameters" element="tns:SearchbyId"/>
</message>
<message name="SearchbyIdResponse">
<part name="parameters" element="tns:SearchbyIdResponse"/>
</message>
<message name="SearchbyTitle">
<part name="parameters" element="tns:SearchbyTitle"/>
</message>
<message name="SearchbyTitleResponse">
<part name="parameters" element="tns:SearchbyTitleResponse"/>
</message>
<message name="SearchbyCreaDate">
<part name="parameters" element="tns:SearchbyCreaDate"/>
</message>
<message name="SearchbyCreaDateResponse">
<part name="parameters" element="tns:SearchbyCreaDateResponse"/>
</message>
<message name="SearchbyAuthor">
<part name="parameters" element="tns:SearchbyAuthor"/>
</message>
<message name="SearchbyAuthorResponse">
<part name="parameters" element="tns:SearchbyAuthorResponse"/>
</message>
<message name="SearchbyKeywords">
<part name="parameters" element="tns:SearchbyKeywords"/>
</message>
<message name="SearchbyKeywordsResponse">
<part name="parameters" element="tns:SearchbyKeywordsResponse"/>
</message>
<portType name="GestorImagenes">
<operation name="RegisterImage">
<input wsam:Action="http://gestor1/GestorImagenes/RegisterImageRequest" message="tns:RegisterImage"/>
<output wsam:Action="http://gestor1/GestorImagenes/RegisterImageResponse" message="tns:RegisterImageResponse"/>
</operation>
<operation name="ModifyImage">
<input wsam:Action="http://gestor1/GestorImagenes/ModifyImageRequest" message="tns:ModifyImage"/>
<output wsam:Action="http://gestor1/GestorImagenes/ModifyImageResponse" message="tns:ModifyImageResponse"/>
</operation>
<operation name="ListImages">
<input wsam:Action="http://gestor1/GestorImagenes/ListImagesRequest" message="tns:ListImages"/>
<output wsam:Action="http://gestor1/GestorImagenes/ListImagesResponse" message="tns:ListImagesResponse"/>
</operation>
<operation name="SearchbyId">
<input wsam:Action="http://gestor1/GestorImagenes/SearchbyIdRequest" message="tns:SearchbyId"/>
<output wsam:Action="http://gestor1/GestorImagenes/SearchbyIdResponse" message="tns:SearchbyIdResponse"/>
</operation>
<operation name="SearchbyTitle">
<input wsam:Action="http://gestor1/GestorImagenes/SearchbyTitleRequest" message="tns:SearchbyTitle"/>
<output wsam:Action="http://gestor1/GestorImagenes/SearchbyTitleResponse" message="tns:SearchbyTitleResponse"/>
</operation>
<operation name="SearchbyCreaDate">
<input wsam:Action="http://gestor1/GestorImagenes/SearchbyCreaDateRequest" message="tns:SearchbyCreaDate"/>
<output wsam:Action="http://gestor1/GestorImagenes/SearchbyCreaDateResponse" message="tns:SearchbyCreaDateResponse"/>
</operation>
<operation name="SearchbyAuthor">
<input wsam:Action="http://gestor1/GestorImagenes/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
<output wsam:Action="http://gestor1/GestorImagenes/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
</operation>
<operation name="SearchbyKeywords">
<input wsam:Action="http://gestor1/GestorImagenes/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
<output wsam:Action="http://gestor1/GestorImagenes/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
</operation>
</portType>
<binding name="GestorImagenesPortBinding" type="tns:GestorImagenes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RegisterImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListImages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestorImagenes">
<port name="GestorImagenesPort" binding="tns:GestorImagenesPortBinding">
<soap:address location="http://localhost:8080/GestorImagenes/GestorImagenes"/>
</port>
</service>
</definitions>